@using MVC_CV.Models.Entity
@model List<TBL_EDUCATİON>



<section class="resume-section" id="education">



  
    <div class="resume-section-content">
        <h2 class="mb-5">Eğİtİmler</h2>
        @foreach (var x in Model)
        {

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@x.TİTLE</h3>
                    <div class="subheading mb-3">@x.SUBTİTLE1</div>
                    <div>@x.SUBTİTLE2</div>
                    <p>@x.GNO</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@x.DATE</span></div>
            </div>

        }
    </div>
  
</section>
